defmodule <%= @module_name %> do
  use Mix.Task

  import <%= @day_module_name %>

  @shortdoc "Day <%= @day %> Part <%= @part %>"
  def run(args) do
    Mix.Task.run("app.start")
    input = Aoc2024.Input.get!(<%= @day %>)


    if Enum.member?(args, "-b"),
      do: Benchee.run(%{part_<%= @part %>: fn -> input |> part<%= @part %>() end}),
      else:
        input
        |> part<%= @part %>()
        |> IO.inspect(label: "Part <%= @part %> Results")
  end
end
